<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" text="Atras" color="primary" mode="ios"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-capitalize">Search</ion-title>

  </ion-toolbar>

  <ion-searchbar placeholder="Buscar albums..." inputmode="text" (ionChange)="onSearchChange( $event )" [debounce]="500" ></ion-searchbar>

</ion-header>

<ion-content>

  <ion-list>
     <ion-item *ngFor="let album of albumes | filtro: textoBuscar: 'title'" >
       <ion-label>{{ album.title }}</ion-label>
     </ion-item>
  </ion-list>

</ion-content>
