<app-header titulo="Grid"></app-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="3">3</ion-col>
      <ion-col size="3">3</ion-col>
      <ion-col size="3">3</ion-col>
      <ion-col size="3">3</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>

      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]"  >
        <ion-card>
          <ion-img src="/assets/stan-lee.jpg"></ion-img>
        </ion-card>
        <ion-card-header>
          <ion-card-subtitle>
          </ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos esse nisi eius, ipsam consequuntur suscipit eum porro repellat, praesentium quia adipisci laborum deserunt sapiente eaque. Soluta dolorum quaerat reprehenderit praesentium!
        </ion-card-content>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
